:root {
	color-scheme: light dark;
}

body {
	background-image: url('../images/bg.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.vh-50 {
	height: 68vh;
}

.fs-10 {
	font-size: 10px;
}

.form-select-custom {
	font-size: 12px;
}
/* @media (prefers-color-scheme: dark) {
	body {
		background: #333;
		color: white;
	}
}

@media (prefers-color-scheme: light) {
	body {
		background: #ddd;
		color: black;
	}
} */
