:root {
	color-scheme: light dark;
}

body {
	background-image: url('../images/bg.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}

.vh-50 {
	height: 68vh;
}

/* .fs-10 {
	font-size: 10px;
} */

.date-select-group select {
	font-size: 14px;
}

.card,
.card table thead tr th,
.card table tbody tr td {
	background: transparent;
	backdrop-filter: blur(2px);
}

/* @media (prefers-color-scheme: dark) {
	body {
		background: #333;
		color: white;
	}
}

@media (prefers-color-scheme: light) {
	body {
		background: #ddd;
		color: black;
	}
} */
